{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}
    Issue Tracker|Tickets
{% endblock %}

{% block page_heading %}
    <div class="container-fluid fluid container-fluid-bg-2">
        <h1 class="text-center">Tickets</h1>
        <h2 class="text-center">If you have any problem do not hesitate to write to us</h2>
        <h3 class="text-center"></h3>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid container-fluid-bg-1">
        <div class="container">
            <!-- Showing all ticket -->
            {% for ticket in tickets %}
            <div class="row">
                <div class="col-xs-10">
                    <h3>{{ ticket.title }}</h3>
                    <p>{{ ticket.issue|truncatewords:30 }}</p>
                    
                    <p><span class="boldtext">Reported by: </span>{{ ticket.reported_by }}</p>
                    <p><span class="boldtext">Reported on: </span>{{ ticket.reported_on }}</p>
                    <p><span class="boldtext">Priority: </span>{{ ticket.priority }}</p>
                    
                    {% if ticket.verified %}
                        <p class="text-success"><span class="glyphicon glyphicon-thumbs-up"></span> Verified</p>
                        <span class="text-success">Resolution: {{ ticket.resolution }}</span>
                        <p><span class="text-success">Status: {{ ticket.status }}</span></p>
                    {% else %}
                        <p><span class="text-danger">Status: {{ ticket.status }}</span></p>
                    {% endif %}
                    <!-- Link to ticket detail page by specific id -->
                    <p><a href="{% url 'ticket_detail' ticket.id %}" class="btn btn-default">Read more</a></p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}